<!-- <app-header></app-header> -->
<div class="container">

  <div class="login form" *ngIf="showLoginForm">
    <header>Login></header>
    <div *ngIf="loginFailed" style="color: red;text-align: center;">Invalid username or password</div>
    <div></div>
    <form [formGroup]="loginForm">
      <input type="email" formControlName="email" placeholder="Enter your email">
      <div *ngIf="isRequired('email')">
        <div *ngIf=" this.formControls['email'].errors" style="color: red;">Username is required.</div>
      </div>
      <input type="password" formControlName="password" placeholder="Enter your password">
      <div *ngIf="isRequired('password')">
        <div *ngIf=" this.formControls['password'].errors" style="color: red;">Password is required.</div>
      </div>
      <input type="button" class="button" value="Login" (click)="login()">
    </form>
    <div class="signup">
      <span class="signup">Don't have an account?
       <label for="check" (click)="showLoginForm = !showLoginForm">Signup</label>
      </span>
    </div>
  </div>
  <div class="registration form" *ngIf="!showLoginForm">
    <header>Signup</header>
    <div *ngIf="registrationError" style="color: red;text-align: center;">Something went wrong</div>
    <div></div>
    <form [formGroup]="registrationForm">
      <input type="name" formControlName="name" placeholder="Enter your name">
      <input type="email" formControlName="email" placeholder="Enter your email">
      <input type="password" formControlName="password" placeholder="Create a password">
      <input type="password" formControlName="reEnterPassword" placeholder="Confirm your password">
      <input type="text" formControlName="phoneNumber" placeholder="Enter your phone number">
      <input type="button" class="button" value="Signup" (click)="registration()">
    </form>
    <div class="signup">
      <span class="signup">Already have an account?
       <label for="check" (click)="showLoginForm = !showLoginForm">Login</label>
      </span>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->








<!-- <app-header></app-header> -->
<!--
<div class="hero hero-inner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mx-auto text-center">
        <div class="intro-wrap">
          <h1 class="mb-0">Login</h1>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="untree_co-section">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-6 col-lg-3">
        <div class="media-1">
          <a href="#" class="d-block mb-3"><img src="../../../assets/images/hero-slider-1.jpg" alt="Image" class="img-fluid"></a>
          <div class="d-flex">
            <div>
              <h3><a href="#">Excellence in Travel</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="media-1">
          <a href="#" class="d-block mb-3"><img src="../../../assets/images/hero-slider-2.jpg" alt="Image" class="img-fluid"></a>
          <div class="d-flex">
            <div>
              <h3><a href="#">Discovering Best</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="media-1">
          <a href="#" class="d-block mb-3"><img src="../../../assets/images/hero-slider-3.jpg" alt="Image" class="img-fluid"></a>
          <div class="d-flex">
            <div>
              <h3><a href="#">A New Moments of Life</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="media-1">
          <a href="#" class="d-block mb-3"><img src="../../../assets/images/hero-slider-4.jpg" alt="Image" class="img-fluid"></a>
          <div class="d-flex">
            <div>
              <h3><a href="#">Joy To Your Journey</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->





<!-- <div class="untree_co-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
          <div class="container">
            <input type="checkbox" id="check">
            <div class="login form">
              <header>Login</header>
              <form action="#">
                <input type="text" placeholder="Enter your email">
                <input type="password" placeholder="Enter your password">
                <a href="#">Forgot password?</a>
                <input type="button" class="button" value="Login">
              </form>
              <div class="signup">
                <span class="signup">Don't have an account?
                 <label for="check">Signup</label>
                </span>
              </div>
            </div>
            <div class="registration form">
              <header>Signup</header>
              <form action="#">
                <input type="text" placeholder="Enter your email">
                <input type="password" placeholder="Create a password">
                <input type="password" placeholder="Confirm your password">
                <input type="button" class="button" value="Signup">
              </form>
              <div class="signup">
                <span class="signup">Already have an account?
                 <label for="check">Login</label>
                </span>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer> -->


